
<footer>
	<div class="con">
		<div class="ro">
			<div class="col">
				<p class="tab-label top">&copy; <%= (new Date().getFullYear()) %> Made by Michael McLaughlin</p>
			</div>
			<div class="col">
				<%- include modules/social_list %>
			</div>
		</div>
	</div>
</footer>